html, body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

header {
    height: 135px;
    width: 100%;
}

header .filter-heading {
    margin-bottom: 10px;
}

aside {
    text-align: left;
    padding-left: 15px;
    padding-top: 10px;
    height: auto;
    max-height: calc(100vh - 50px);
    overflow: auto;
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

main {
    display: inline-block;
    width: 80%;
    margin-left: -4px;
    height: calc(100vh - 50px);
    vertical-align: top;
    padding: 10px 15px 0 15px;
    overflow: auto;
}

article {
    width: 100%;
    background: #1e1c1c;
    padding: 10px;
}

section {
    width: calc(25% - 15px);
    height: 400px;
    background-color: #352f2f;
    display: inline-block;
    margin-bottom: 15px;
    border-radius: 7px;
}

section img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    height: 200px;
}

.top-section {
    position: relative;
}

.image-text {
    color: #fff;
    width: 100%;
    padding: 5px 15px;
    background: black;
    opacity: 0.7;
    position: absolute;
    bottom: 4px;
    left: 0;
    font-size: 12px;
}

.image-text .name {
    font-size: 24px;
}

section:nth-child(n)
/*,
section:nth-child(2n) */

    {
    margin-right: 15px;
}

section:nth-child(4n) {
    margin-right: 0;
}

.filters {
    display: inline-block;
    border: #888 solid;
    padding: 20px;
}

.filters-container {
    padding: 20px;
}

.filter-heading {
    font-size: 28px;
}

.filters .heading {
    font-size: 16px;
    font-weight: 800;
}

.selected-filter-container {
    height: 40px;
}

.selected-filter {
    display: inline-block;
    background: #817979;
    padding: 5px;
    border-radius: 5px;
}

section ul {
    padding: 0;
}

input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
}

.search-container {
    display: inline-block;
}

.search-container button {
    padding: 8px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    background: #ccc;
}

.sorting-container {
    float: right;
}

section li {
    list-style: none;
    padding: 7px 8px;
    font-size: 9px;
}
.property{
    float: left;
}
.list-item {
    color: white;
    border-bottom: 1px solid rgb(68, 68, 68);
    padding: 2px;
    text-align: right;
}

.cross {
    display: inline;
}

.cross:hover {
    cursor: pointer;
}

.value {
    display: inline-block;
    color: rgb(255, 152, 0);
    max-width: 50%;
    text-transform: capitalize;
    text-align: right;
}

footer {
    height: 30px;
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

@media(max-width :480px) {
    main, aside {
        display: block;
        width: 100%;
    }
    main{
        overflow: initial;
        height: auto;
    }
    aside {
        padding-left: 0;
    }
    header {
        height: 250px;
    }
    .filters {
        width: 100%;
    }
    article {
        background: white;
    }
    section {
        width: calc(50% - 15px);
    }
    input[type=text] {
        width: 100%;
    }
    .sorting-container {
        margin-top: 25px;
        width: 100%;
    }
    #sort-by-id {
        width: 100%;
    }
    .filter-heading {
        padding-left: 11px;
    }
}